* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-image: url(./assets/bg.jpg), url(./assets/bg1.jpg), url(./assets/bg2.jpg);
  background-position: top center, center center, bottom center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #6CCA2B;
}

body * {
  font-family: "Inter", sans-serif;
  line-height: 160%;
}

header {
  padding-top: 32px;
  height: calc(120px + 32px);
}

button {
  width: 45px;
  background-image: linear-gradient(90deg, #6CCA2B 0%, #1883B7 100%);
  bottom: 15px; 
  position: fixed; 
  right: 15px;
  border: 2px solid #eda216;
  border-radius: 10px;
  padding: 1px;
  transition: transform 0.3s;
  z-index: 4;
}

button:hover {
  background-image: url(./assets/intense.gif);
  background-position: center;
  background-size: 65% auto;
  background-repeat: no-repeat;
  background-color: #6CCA2B;
  transform: scale(1.1);
}

header div {
  width: 120px;
  margin: auto;
  background-image: linear-gradient(90deg, #6CCA2B 0%, #1883B7 100%);
  border-radius: 50%;
  display: flex;
  padding: 4px;
  transition: transform 0.3s;
}

bsideimg1 {
  bottom: -80px; 
  position: fixed; 
  left: -105px;
  rotate:45deg;
  display: flex;
  padding: 4px;
  transition: transform 0.3s;
  z-index: 2;
}

bsideimg2 {
  bottom: 60px; 
  position: fixed; 
  left: -35px;
  rotate:10deg;
  display: flex;
  padding: 4px;
  transition: transform 0.3s;
  z-index: 1;
}

header div:hover {
  background-image: url(./assets/profile_hover.gif);
  background-size: 100% auto;
  transform: scale(1.1);
}

header div img {
  width: 100%;
  border-radius: 50%;
}

header div img:hover {
  opacity: 0;
  transform: scale(1.1);
}

main {
  max-width: 580px;
  width: 90%;
  margin: 32px auto;
  display: grid;
  gap: 24px;
  z-index: 3;
}

section {
  color: white;
  background-image: linear-gradient(90deg, #6CCA2B 0%, #1883B7 100%);
  padding-top: 4px;
  border-radius: 10px;
  z-index: 3;
}

section div {
  background-color: #eda216;
  padding: 24px 32px 32px;
  border-radius: 8px;
  z-index: 3;
}

section h2 {
  letter-spacing: -0.47px;
  z-index: 3;
}

section p {
  letter-spacing: -0.18px;
  background: linear-gradient(90deg, #6CCA2B 0%, #1883B7 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.4px #443e54;
  z-index: 3;
}

section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 24px;
  z-index: 3;
}

section ul li {
  transition: transform 0.3s;
  z-index: 3;
}

section ul li:hover {
  transform: scale(1.1);
}

.games-list img {
  width: 90px;
  border-radius: 8px;
  z-index: 3;
}

.channel-list img {
  width: 70px;
  border-radius: 50%;
  border: 1px solid #443e54;
  z-index: 3;
}

.about-list img {
  width: 90px;
  border-radius: 8px;
  z-index: 3;
}

.craft-list img {
  width: 115px;
  border-radius: 8px;
  z-index: 3;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #eda216;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #6CCA2B 0%, #1883B7 100%);
  border-radius: 20px;
  border: 3px solid #eda216;
}

/*animation*/

button {
  animation: fromRight 0.7s 1.6s backwards;
}

header div {
  animation: fromTop 0.7s 0.2s backwards;
}

body bsideimg1 {
  animation: fromPeek 0.7s 1.8s backwards;
}

body bsideimg2 {
  animation: fromBigPeek 0.7s 1.8s backwards;
}

main section {
  animation: fromLeft 0.7s backwards;
}

main section div ul li a svg:hover {
  animation: fromSpin 1.5s backwards;
}

main section:nth-child(1) {
  animation-delay: 0;
}

main section:nth-child(2) {
  animation-delay: 0.4s;
}

main section:nth-child(3) {
  animation-delay: 0.6s;
}

main section:nth-child(4) {
  animation-delay: 0.8s;
}


main section:nth-child(5) {
  animation-delay: 1.2s;
}


main section:nth-child(6) {
  animation-delay: 1.4s;
}


@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromSpin {
  from {
    opacity: 1;
    transform: translateX(0);
    rotate:0deg;
  }

  to {
    opacity: 1;
    transform: translateX(0);
    rotate:360deg;
  }
}

@keyframes fromPeek {
  from {
    opacity: 1;
    transform: translateY(325px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBigPeek {
  from {
    opacity: 1;
    transform: translateY(415px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
